@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Crimson Pro', serif;
}



body{
	padding-top: 10px;
}

img{
	margin-top: 1rem;
	margin-bottom: 1rem;
	justify-content: center;
	border-radius: 3vh;
}

.minwha img{
	display: flex;
	width: 50%;
	height: auto;
}

.ceramica img{
	display: flex;
	width: 35%;
	height: auto;
}

.buda img{
	display: flex;
	width: 50%;
	height: auto;
}

.wtf img{
	display: flex;
	width: 40%;
	height: auto;
}

.parasita img{
	display: flex;
	width: 25%;
	height: auto;
}

.busan img{
	display: flex;
	width: 25%;
	height: auto;
}

.mestre img{
	display: flex;
	width: 25%;
	height: auto;
}

.fes img{
	display: flex;
	width: 35%;
	height: auto;
}

.oldboy img{
	display: flex;
	width: 25%;
	height: auto;
}

.gastronomia img{
	display: flex;
	width: 15%;
	height: auto;
}

.imgtaekwondo img{
	display: flex;
	width: 25%;
	height: auto;
}

.imgbasebol img{
	display: flex;
	width: 25%;
	height: auto;
}

.imgfut img{
	display: flex;
	width: 30%;
	height: auto;
}

.imginverno img{
	display: flex;
	width: 25%;
	height: auto;
}

.imggolfe img{
	display: flex;
	width: 25%;
	height: auto;
}

.imgcombate img{
	display: flex;
	width: 25%;
	height: auto;
}

.imgarquearia img{
	display: flex;
	width: 25%;
	height: auto;
}

.imgesports img{
	display: flex;
	width: 25%;
	height: auto;
}

.voltar{
	text-decoration: none;
	color: #4A5EEA;
}

div{
	padding: 3vh;
	margin-top: 2vh;
}

h1{
	font-size: 128px;
}