*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Crimson Pro', serif;
}

img{
	display: flex;
	margin-top: 1rem;
	margin-bottom: 1rem;
	justify-self: center;
}

.predinastia img{
  display: flex;
	width: 30%;
	height: auto;
}

.dinastias img{
  display: flex;
	width: 30%;
	height: auto;
}

.pre_guerra img{
  display: flex;
	width: 30%;
	height: auto;
}

.Guerra img{
  display: flex;
	width: 30%;
	height: auto;
}