@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Crimson Pro', serif;
}

h1{
	display: flex;
	font-size: 128px;
	text-align: center;
	text-shadow: 0 0 12px white ;
	padding: 4vh;
	margin-bottom: 2rem;
	padding-bottom: 3rem;
	padding-top: 3rem;
	background-image: url("/images/title.jpg");
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: 0rem;
	border-bottom: 3px solid black;
}

h2{
	font-size: 48px;
	text-align: center;
	margin-bottom: 2vh;
}

div{
	padding: 3vh;
	margin-top: 2vh;
}

img{
	display: flex;
	margin-top: 1rem;
	margin-bottom: 1rem;
	justify-self: center;
	border-radius: 3vh;
}

.predinastia img{
  display: flex;
	width: 30%;
	height: auto;
}

.dinastias img{
  display: flex;
	width: 30%;
	height: auto;
}

.pre_guerra img{
  display: flex;
	width: 30%;
	height: auto;
}

.Guerra img{
  display: flex;
	width: 30%;
	height: auto;
}

.pos_guerra img{
  display: flex;
	width: 30%;
	height: auto;
}

p{
	padding-bottom: 1vh;
}

a{
	text-decoration: none;
	color: #4A5EEA;
	text-align: center;
}

